body {
    height: 100vh;
    background: #f8f9fa;
    display: flex;
    flex-wrap: wrap;
}

header {
    height: 55px;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
}

nav {
    width: 130px;
    height: calc(100vh - 55px);
    background-color: #12293f;
    background-image: url(../img/sidebar-bg.png);
}

main {
    width: calc(100% - 130px);
    height: calc(100% - 55px);
    background: #f8f9fa;
    overflow-y: auto;
}

td {
    font-size: 13px;
}

td > img {
    max-width: 23px;
}