body {
    height: 100vh;
    background: #f8f9fa;
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100%;
    background: white;
}

.left-nav {
    max-width: 140px;
    height: calc(100vh - 54px);
    background-color: #12293f;
    background-image: url(../img/sidebar-bg.png);
}

main {
    width: calc(100% - 140px);
    height: calc(100% - 60px);
    background: #f8f9fa;
    overflow-y: auto;
}