body {
    height: 100vh;
    background: #f8f9fa;
    display: flex;
    flex-wrap: wrap;
}

header {
    height: 55px;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
}

nav {
    /* width: 130px; */
    width: 144px;
    height: calc(100vh - 55px);
    background-color: #12293f;
    background-image: url(../img/sidebar-bg.png);
}

main {
    width: calc(100% - 144px);
    height: calc(100% - 55px);
    background: #f8f9fa;
    overflow-y: auto;
}

td {
    font-size: 13px;
}

td > img {
    max-width: 23px;
}

/* --- MEDIAQUERY --- */


@media screen and (max-width: 992px) {
    nav {
        width: 65px;
    }
    main {
        width: calc(100% - 65px);
    }    
}

@media screen and (max-width: 768px){
    #offcanvasWithBothOptions {
        width: 100%;
    }
    
}

@media screen and (min-width: 992px){
    #offcanvasWithBothOptions {
        width: 50%;
    }
    
}

/* --- HOVER --- */

.home-hover:hover {
    background-color: gray;
}

.stats-hover:hover {
    background-color: gray;
}

.signal-hover:hover {
    background-color: gray;
}

.admin-hover:hover {
    background-color: gray;
}